
.body-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  background-color: rgb(219, 219, 219);
  position: relative;
}

video{
  position: fixed;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h2{
  text-align: center;
}

button{
  border: none;
}

button:hover{
  border: none;
}

button:focus{
  border: none;
}

#main-heading{
  color: rgb(255, 212, 38);
  z-index: 10;
}

#calendar-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 70%;
  gap: 20px;
  margin-bottom: 50px;
  z-index: 10;
}

.calendar-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(250, 235, 215, 0.8);
  padding: 50px 10px;
  height: 100px;
  font-weight: 600;
  transition: opacity 500ms ease;
  cursor: pointer;
  color: rgb(94, 55, 9);
}

.calendar-field.opened {
  opacity: 0.5;
}

dialog{
  width: 60%;
  height: 400px;
  border: 2px solid rgb(94, 55, 9);
  padding-bottom: 20px;
  background-color: antiquewhite;
}

#dialog-div{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: antiquewhite;
}

#button-div{
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  margin-top: 20px;
}

#closeButton{
  background-color:rgb(94, 55, 9) ;
  color: antiquewhite ;
  border: 1px solid rgb(94, 55, 9);
  margin: 0 auto;
}

a{
  text-decoration: none;
  text-align: center;
}

@media(max-width: 800px){

  .body-div{
    padding: 2px;
    font-size: 1.5rem;
  }

  video{
  position: fixed;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.3);
}

  #calendar-div{
    width: 80%;
    grid-template-columns: 1fr 1fr;
  }

  .calendar-field{
    font-size: 1.9rem;

  }

  dialog{
    width: 90%;
    height: 80vh;
  }



  
}
  
